node_modules
**/node_modules
*/build
**/dist
.env
**/.env
*/.env
note.txt
test.ts
test.js
api/src/flatworks/utils/credentials.json
api/src/flatworks/utils/token.json
mongo
docker-compose.yml
.DS_Store
#cms/src/components
#cms/src/kpi
#cms/src/commit
#api/src/proposal
#api/src/flatworks