node_modules
**/node_modules
**/build
**/dist
.env
**/.env
api/src/flatworks/utils/credentials.json
api/src/flatworks/utils/token.json
.DS_Store
#cms/src/components
#cms/src/kpi
#cms/src/commit
#api/src/proposal
#api/src/flatworks
